<div class="page" >
    <button type="button" class="btn btn-default" ng-click="vm.goToPreviousPage()"><i class="fa fa-chevron-left"></i>
    </button>

    <button type="button" class="btn btn-default" ng-click="vm.goToNextPage()"><i class="fa fa-chevron-right"></i>
    </button>

</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <a href="/repos/{{repo.owner.login}}/{{repo.name}}" class="git-repo-item" ng-repeat="repo in vm.repositories">
                <div class="repo">
                    <div class="icon">
                        <i class="fa fa-github"></i>
                    </div>
                    <div class="info">
                        <div class="owner">{{repo.owner.login}}</div>
                        <div class="name">{{repo.name}}</div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<!--ng-if="!!vm.repositories && vm.repositories.length > 0"-->